$border-color: #061840;
$bg-color: white;//rgba(230, 216, 196, 1);
$accent-color: rgba(217, 55, 42, 0.8);

@import "./volume.scss";

* {
    all: unset;
    background-color: transparent;
    background-clip: padding-box;
    font-family: MesloLGS Nerd Font Mono;
    font-weight: bold;
    font-size: 16px;
    color: $border-color;
    text-shadow: 2px 2px 2px rgba($border-color, 0.3);
    // border: 1px solid red;
}