@define-color border-color rgba(6, 24, 64, 1);
@define-color bg-color rgba(255, 255, 255, 1);
@define-color accent-color rgba(217, 55, 42, 0.8);

:root {
    --border-radius: 22px;
    --cc-bg: transparent;

    --widget-background: rgba(46, 46, 46, 0.7);
    --noti-bg-alpha: 0.6;

    --padding: calc(var(--border-radius) / 2);

    font-family: RobotoMono Nerd Font;
    font-size: 14px;
    text-shadow: 2px 2px 2px alpha(@border-color, 0.8);
}

.control-center {
    border-radius: 0;
}

.widgets>.widget,
.widget-mpris>carouselindicatordots,
.widget-mpris>box>button {
    background: var(--widget-background);
    border-radius: var(--border-radius);
    padding: calc(var(--border-radius) / 2);
    border: var(--border);
}

.control-center-list-placeholder {
    padding: var(--border-radius);
}

.notification-group {
    border-radius: var(--border-radius);
    padding: 8px;
}

.notification {
    padding: 0;
    margin: 12px 7px 0px 7px;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(@border-color, rgba(0, 0, 0, 1) 90%);
    border: 2px solid alpha(@bg-color, 0.6);
    box-shadow: 0px 0 4px alpha(@bg-color, 0.6);
    transition: all 200ms ease;
}


.notification-action:hover,
.notification-default-action:hover {
    background: @border-color;
}

.notification-content {
    background: transparent;
    padding: 6px;
    border-radius: 8px;
}

.close-button {
    background: @border-clor;
    color: @bg-color;
    text-shadow: none;
    padding: 2px;
    border-radius: 100%;
    margin-top: 20px;
    margin-right: 15px;
    border: none;
    min-width: 24px;
    min-height: 24px;
}

.close-button:hover {
    background: @bg-color;
    color: @border-color;
    transition: all 0.15s ease-in-out;
}