@define-color border-color rgba(6, 24, 64, 1);
@define-color bg-color rgba(255, 255, 255, 1);
@define-color accent-color rgba(217, 55, 42, 0.8);

/* GENERIC */

* {
    all: unset;
    background-clip: padding-box;
    color: @bg-color;
    font-family: RobotoMono Nerd Font;
    font-size: 14px;
    text-shadow: 2px 2px 2px rgba(6, 24, 64, 0.3);
    transition: all 0.3s ease-in-out;
    /* border: 1px solid red; */
}

window#waybar {
    background: linear-gradient(rgba(2, 0, 36, 1), rgba(0, 0, 0, 0) 90%);
}

tooltip {
    background-color: alpha(@border-color, 0.8);
    border: 2px solid alpha(@bg-color, 0.6);
    border-radius: 20px;
}

tooltip label {
    margin: 10px 0;
    padding: 0 5px;
    color: @bg-color;
}

/* WORKSPACES */

#workspaces {
    margin: 6px 10px;
    padding: 7px 2px;
    border-radius: 30px;
    background-color: alpha(@border-color, 0.5);
    box-shadow: 0px 0 4px alpha(@bg-color, 0.6);
    font-weight: bold;
}

#workspaces button {
    min-width: 40px;
    margin: 0px 5px;
    padding: 2px 15px;
    border-radius: 30px;
    opacity: 0.4;
    background-color: @bg-color;
    background-clip: border-box;
}

#workspaces button label {
    font-size: 16px;
    color: @border-color;
}

#workspaces button.active {
    opacity: 0.8;
    min-width: 120px;
}

#workspaces button.urgent {
    background-color: @accent-color;
    animation: blink 0.5s infinite alternate;
    animation-timing-function: steps(12);
}

#workspaces button.urgent label {
    animation: blink_label 0.5s infinite alternate;
    animation-timing-function: steps(12);
}

#workspaces button:hover {
    opacity: 1;
}

/* MODULES */

.modules-left *,
.modules-right * {
    padding: 0 5px;
    border-radius: 30px;
}

#clock,
#left,
#right {
    padding: 0 15px;
    margin: 7px 10px;
    background-color: alpha(@border-color, 0.5);
    box-shadow: 0px 0 4px alpha(@bg-color, 0.6);
    border-radius: 30px;
    min-width: 100px;
}

#left {
    font-weight: bold;
}

#hardware,
#trayblock {
    margin: 5px 4px;
}

#hardware:hover,
#trayblock:hover {
    background-color: @border-color;
    border: 1px solid alpha(@bg-color, 0.8);
    box-shadow: 0px 0 4px alpha(@bg-color, 0.6);
}

#hardware *,
#trayblock * {
    margin: 0 5px;
}

#trayblock * {
    padding: 0px;
}

#data * {
    padding: 0px;
    margin-right: 1.2rem;
    min-width: 1.5rem;
}

#clock {
    font-size: 16px;
    font-weight: bold;
}

#language {
    font-size: 16px;
    font-weight: bold;
}

#pulseaudio.1 {
    margin-right: 0.7rem;
}

#bluetooth {
    margin: 5px 1.2rem 5px 0;
}

#battery {
    margin: 5px 0;
    padding: 0px 5px;
}

#bluetooth.on,
#bluetooth.connected {
    background-color: alpha(@bg-color, 0.6);
    color: @border-color;
    box-shadow: 0px 0 4px alpha(@bg-color, 0.6);
}

#bluetooth.on:hover,
#bluetooth.connected:hover {
    background-color: @bg-color;
}

#battery.warning:not(.charging) {
    animation: blink_bright 1s infinite alternate-reverse;
    animation-timing-function: steps(24);
}

#battery.critical:not(.charging) {
    animation: blink_danger 0.5s infinite alternate;
    animation-timing-function: steps(12);
}

#custom-power {
    min-width: 20px;
    padding: 2px;
    border-radius: 0;
    background-image: url("media/icons8-arch-linux-24.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

tray.empty {
    padding: 0;
    margin: 0;
}

/* ANIMATIONS */

@keyframes blink {
    to {
        background-color: @border-color;
        opacity: 1;
    }
}

@keyframes blink_bright {
    to {
        background-color: @bg-color;
        color: @border-color;
    }
}

@keyframes blink_label {
    from {
        color: @border-color;
    }

    to {
        color: @bg-color;
    }
}

@keyframes blink_danger {
    to {
        background-color: red;
        color: @bg-color;
        opacity: 1;
    }
}