$border-color: #061840;
$bg-color: white;
$accent-color: rgba(217, 55, 42, 0.8);


@mixin form {
    background: linear-gradient(rgba($bg-color, 1), rgba($bg-color, 0.6));
    margin: 10px 5px;
    padding: 5px;
    border-radius: 13px;
    min-width: 17px;

    &:hover {
        // background-color: red;
        background: linear-gradient(rgba($bg-color, 1), rgba($bg-color, 0.9));
        box-shadow: 0px 0 15px rgba($bg-color, 0.8);
    }
}

* {
    all: unset;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    // border: 1px solid red;
}

@import "./scss/control.scss";
@import "./scss/side_sliders.scss";