.controller {
    margin: 15px;
    margin-bottom: 5px;
    padding: 5px 15px;
    border-radius: 20px;
    background: linear-gradient(rgba($border-color, 1), rgba($border-color, 0.5));
    box-shadow: 0px 0 5px rgba($bg-color, 0.8);
    min-width: 300px;
    color: $border-color;
    font-family: MesloLGS Nerd Font;
    font-weight: 100;
    text-shadow: 2px 2px 2px rgba(6, 24, 64, 0.3);
}

.battery {
    @include form;
    box-shadow: 0px 0 5px rgba($border-color, 0.8);
}

.battery-life {
    padding: 5px 15px;
}

.control-metric {
    margin: 10px 5px;
    padding: 5px;

    trough {
        background-color: $border-color;
        padding-right: 4px;
        border-radius: 2px;
        min-height: 0.2rem;
        box-shadow: 0px 0 10px rgba($border-color, 0.8);
        border: 1px solid $bg-color;

        highlight {
            border-radius: 2px;
            background-color: rgba(lightblue, 0.8);
        }

        slider {
            background-color: $bg-color;
            border: 1px solid $border-color;
            border-radius: 2px;
            box-shadow: 0px 0 3px rgba($bg-color, 0.8);
            padding: 0.5rem 0.1rem;
            margin: -0.5rem -0.1rem;

            &:hover {
                box-shadow: 0px 0 15px rgba($bg-color, 0.8);
            }
        }
    }
}

.big-button {
    @include form;
    min-height: 30px;
    padding: 5px 15px;
}

.disableHover {
    &:hover {
        background: linear-gradient(rgba($bg-color, 1), rgba($bg-color, 0.6));
        box-shadow: none;
    }
}

.bluetooth {
    font-size: 15px;
    min-width: 35px;
}

.updater {
    margin: 10px 5px;
    padding: 10px 10px;
    min-height: 100px;
    background-color: $border-color;
    color: white; 
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6) inset;
    transition: all 5s ease-in-out;
}

.player_background {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    box-shadow: 0px 0 5px rgba($bg-color, 0.8);

    label {
        color: white; 
        background-color: rgba(black, 0.5);
        border-radius: 5px;
        padding: 2px 10px;
    }
}

.player_controls {
    color: $bg-color;
    font-size: 20px;
    text-shadow: rgba($border-color, 1) 0px 0 10px ;

    button {
        border-radius: 10px;

        label {
            background: none;
        }

        &:hover {
            background-color: rgba($border-color, 0.5);
            box-shadow: 0px 0 5px rgba($bg-color, 0.8);
        }
    }
}

.player_text {
    // animation: running_text 5s linear infinite;
}